<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="${service_name}-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"
               value="/home/work/log/${service_name}/${service_name}.log"/>
        <param name="DatePattern" value=".yyyyMMddHH"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%X{SessionId}] %l [%m]%n"/>
        </layout>
    </appender>

    <appender name="${service_name}-access-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"
               value="/home/work/log/${service_name}/${service_name}-access.log"/>
        <param name="DatePattern" value=".yyyyMMddHH"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %l [%m]%n" />
        </layout>
    </appender>

    <appender name="${service_name}-error-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"
               value="/home/work/log/${service_name}/${service_name}-error.log"/>
        <param name="Threshold" value="error"/>
        <param name="DatePattern" value=".yyyyMMddHH"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %l [%m]%n" />
        </layout>
    </appender>

    <logger name="com.pcube.provider" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="${service_name}-log"/>
        <appender-ref ref="${service_name}-error-log"/>
    </logger>


    <root>
        <priority value="error"/>
        <appender-ref ref="${service_name}-log"/>
        <appender-ref ref="${service_name}-error-log"/>
    </root>
</log4j:configuration>
